.landing-header {
    border: 1px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex;
    justify-content: flex-end;
}

.landing-content {
}

.landing-navigation {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.landing-content {
    min-height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}

.landing-navigation-link {
    color: black;
    text-decoration: none;
}