.sign-in-form {
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.sign-in-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 800px;
}

.sign-in-input { 
    border: 1px solid black;
    border-radius: 8px;
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
}

.sign-in-submit {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DCDCDC;

}

::placeholder {
	padding-left: 10px;
    color: gray;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    padding-left: 10px;
    color: gray;
    opacity: 1;
}

::-ms-input-placeholder { /* Microsoft Edge */
   vpadding-left: 10px;
   color: gray;
}

.sign-in-title {
    font-size: 26px;
}